body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.gridCell {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgba(0, 128, 0, 0.1);
}

.hovered {
    background-color: rgba(0, 128, 0, 1); 
}

.grid-wrapper {
    display: flex;
    align-items: center; 
    gap: 20px; 
    justify-content: start;
    min-width: 600px;
}
